
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="vendors/angular/angular.min.js"></script>
  <script type="text/javascript" src="vendors/angular-route/angular-route.min.js"></script>

  <script src="vendors/three.min.js" charset="utf-8"></script>

  <script src="vendors/angular-material.min.js" charset="utf-8"></script>
  <script src="vendors/angular-animate.min.js" charset="utf-8"></script>
  <script src="vendors/angular-aria.min.js" charset="utf-8"></script>
  <script src="vendors/angular-messages.min.js" charset="utf-8"></script>
  <link rel="stylesheet" href="vendors/angular-material.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script src="scripts/blogservice.js" charset="utf-8"></script>


  <script type="text/javascript" src="scripts/client.js"></script>
  <script src="scripts/controllers/nav.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/controllers/about.js"></script>
  <script type="text/javascript" src="scripts/controllers/blog.js"></script>
  <script type="text/javascript" src="scripts/controllers/portfolio.js"></script>

  <script type="text/javascript" src="scripts/controllers/code.js"></script>
  <script type="text/javascript" src="scripts/controllers/math.js"></script>
  <script type="text/javascript" src="scripts/controllers/other.js"></script>


  <link rel="stylesheet" href="styles/style.css">

<!-- very odd that title will not change but regular text will: ahhhhhha it was because it is looking at the *other* index! No actually it was even stranger, i ended up just changing it on github-->
  <title>Zack Stout: Personal Page</title>
</head>
<body ng-app='app'>
  <!-- <header ng-include="'views/partials/header.html'"></header> -->
  <main ng-view></main>
</body>
</html>
