
<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div layout="row" class="wholeEnchilada" id="aboutContainer">
  <div layout="column" flex="15" ng-controller="NavController as nc">

    <div class="sideNavHolder">
      <div class="sideNav">
        <div class="clickMe alive" ng-click="nc.goHome()">About Me</div>
      </div>
      <div class="sideNav">
        <div class="clickMe" ng-click="nc.goBlog()">Blog</div>
      </div>
      <div class="sideNav">
        <div class="clickMe" ng-click="nc.goPort()">Portfolio</div>
      </div>
    </div>

  </div>


  <div layout="column" flex="80">

    <!-- <h2>about</h2> -->




    <div layout="row">

      <div layout="column" flex="65">
        <div layout="row">
          <div class="penHolder">
            <canvas id="pendulum" width="250" height="200"></canvas>

          </div>


          <div layout="column">
            <div class="aboutMe">
              <!-- <h1>About Me</h1> -->
            </div>

            <div class="quotes">
              <p class="quote">
                "A program is crystallized thought."
              </p>
              <p class="name">&mdash;Marijn Haverbeke, <i>Eloquent JavaScript</i>, Ch. 8
              </p>
            <br>
              <p class="quote">
                "Mathematics is the language in which God has written the universe."
              </p>
              <p class="name">&mdash;Galileo Galilei, <i>Il Saggiatore</i>
              </p>
            </div>

          </div>

        </div>

        <div layout="row">
          <div class="description">
            <p>
              I'm a software development student at Prime Digital Academy, and I'm discovering to my delight that my background in mathematics and philosophy has poised me to fall in love with computer programming. I've always prized clarity of thought and expression, and I am thrilled to be marrying that passion with the making of real things.
            </p>
            <p>
              My main philosophical interests lie near the issues of freedom and causality. I also love Greek tragedy, poetry (Wallace Stevens especially), and learning new words (recently, <i>apostatize</i>).
            </p>

            <p>
              Lately, I've been diving into the exciting world of Unity, which has prompted me to get started with C#. I'm also learning Django in order to begin flexing my Python muscles with some full-stack applications. Python will help me continue to explore the fascinating realm of machine learning. Recently I've been getting into neural networks and the genetic algorithm.
            </p>

            <p>
              Feel free to reach out to me about anything! I'm eagerly seeking new software development opportunities.
            </p>
          </div>


        </div>

<br>

<span class="PortHeader">Skills</span>
<br>
<br>

        <div layout="row">
          <div layout="column" layout-align="center center" class="skills">
            <b class="skillTitle">Core Stack:</b>
            <ul>
              <li>JavaScript (ES6)</li>
              <li>Node.js</li>
              <li>Express.js</li>
              <li>AngularJS</li>
              <li>AJAX</li>
            </ul>


              <!-- <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/jsicon.png"></div><div class="skillTxt" layout layout-align="center center">JavaScript</div></div>
              <br><div class="skillIconCont">
                  <div layout layout-align="center center"><img class="wideIcon" src="styles/icons/node-icon.svg"></div><div class="skillTxt" layout layout-align="center center">Node.js</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/expressjs.png"></div><div class="skillTxt" layout layout-align="center center">Express.js</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/AngluarJS_logo.png"></div><div class="skillTxt" layout layout-align="center center">AngluarJS</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon"     src="styles/icons/AJAX_logo_by_gengns.svg_.png"></div><div class="skillTxt" layout layout-align="center center">AJAX</div></div> -->


            <!-- <br>  <img class="skillIcon" src="styles/icons/jsicon.png">
              <br><img class="skillIcon" src="styles/icons/node-icon.svg">
              <br><img class="skillIcon" src="styles/icons/expressjs.png">
              <br><img class="skillIcon" src="styles/icons/AngularJS_logo.png">
              <br><img class="wideIcon" src="styles/icons/AJAX_logo_by_gengns.svg_.png"> -->

              <!-- <li>ES6</li> -->
          </div>
          <div layout="column" layout-align="center center" class="skills">
            <b class="skillTitle">Back-End:</b>
            <ul>
              <li>Python</li>
              <li>PHP</li>
              <li>PostgreSQL</li>
              <li>MySQL</li>
              <li>MongoDB</li>
            </ul>


              <!-- <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/python-icon.png"></div><div class="skillTxt" layout layout-align="center center">Python</div></div>
              <br><div class="skillIconCont">
                  <div layout layout-align="center center"><img class="wideIcon" src="styles/icons/php-1.png"></div><div class="skillTxt" layout layout-align="center center">PHP</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/elephant.png"></div><div class="skillTxt" layout layout-align="center center">PostgreSQL</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/mysql.png"></div><div class="skillTxt" layout layout-align="center center">MySQL</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon"     src="styles/icons/mongod-logo.png"></div><div class="skillTxt" layout layout-align="center center">MongoDB</div></div> -->


<!--
            <br>  <img class="skillIcon" title="hi" src="styles/icons/python-icon.png">
              <br><img class="skillIcon" title="hi" src="styles/icons/php-1.png">
              <br><img class="skillIcon" title="hi" src="styles/icons/elephant.png">
              <br><img class="skillIcon" title="hi" src="styles/icons/mysql.png">
              <br><img class="wideIcon" title="hi" src="styles/icons/mongodb-logo.png"> -->


              <!-- <li>Neural Nets</li> -->
          </div>
          <div layout="column" layout-align="center center" class="skills">
            <b class="skillTitle">Front-End:</b>
            <ul>
              <li>HTML5</li>
              <li>CSS3</li>
              <li>Bootstrap</li>
              <li>jQuery</li>
              <li>Angular Material</li>
            </ul>



              <!-- <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/HTML_Logo.png"></div><div class="skillTxt" layout layout-align="center center">HTML 5</div></div>
              <br><div class="skillIconCont">
                  <div layout layout-align="center center"><img class="wideIcon" src="styles/icons/css.png"></div><div class="skillTxt" layout layout-align="center center">CSS 3</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/bootstrap-logo.png"></div><div class="skillTxt" layout layout-align="center center">Bootstrap</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/jquery-icon-17841.png"></div><div class="skillTxt" layout layout-align="center center">jQuery</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon"     src="styles/icons/p5-sq-reverse-filled.png"></div><div class="skillTxt" layout layout-align="center center">p5.js</div></div> -->

              <!-- <br><img class="skillIcon" src="styles/icons/HTML_Logo.png">
              <br><img class="skillIcon" src="styles/icons/css.png">
              <br><img class="skillIcon" src="styles/icons/bootstrap-logo.png">
              <br><img class="skillIcon" src="styles/icons/jquery-icon-17841.png">
              <br><img class="skillIcon" src="styles/icons/p5-sq-reverse-filled.png"> -->


              <!-- <li>p5.js</li> -->

          </div>
          <div layout="column" layout-align="center center" class="skills">
            <b class="skillTitle">Games, etc.:</b>
            <!-- <ul> -->
            <ul>
              <li>Matter.js</li>
              <li>Unity (C#)</li>
              <li>p5.js</li>
              <li>Git</li>
              <li>APIs</li>
            </ul>

              <!-- <li>Unit-Testing</li> -->


              <!-- <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/unity-icon.png"></div><div class="skillTxt" layout layout-align="center center">Unity (C#)</div></div>
              <br><div class="skillIconCont">
                  <div layout layout-align="center center"><img class="wideIcon" src="styles/icons/matter-icon.svg"></div><div class="skillTxt" layout layout-align="center center">Matter.js</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/git-icon.png"></div><div class="skillTxt" layout layout-align="center center">Git</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon" src="styles/icons/momentjs.png"></div><div class="skillTxt" layout layout-align="center center">Moment.js</div></div>
              <br><div class="skillIconCont" >
                <div layout layout-align="center center"><img class="skillIcon"     src="styles/icons/api-icon.png"></div><div class="skillTxt" layout layout-align="center center">APIs</div></div> -->


            <!-- </ul> -->
          </div>
        </div>


      </div>

      <div layout="column" flex="30" id="picSide">
        <div class="myPicContainer" layout layout-align="center center">
          <!-- <div layout="row"> -->
          <img class="myPic" src="styles/zs_profile_copy.jpg">
        </div>

        <div layout="column" layout layout-align="center center" class="textCont">
          <div class="iconHolder" layout="row">
            <a href="http://github.com/zackstout">
              <img class="icon" src="styles/github_icon.svg"></a>
              &emsp; <a class="linkTextAbout" href="http://github.com/zackstout"><span>
                zackstout
              </span></a>
            </div>



            <div class="iconHolder" layout="row">
              <a href="https://www.linkedin.com/in/zack-stout-001/">
                <img class="icon" src="styles/linkedin_icon.png"></a>
                &emsp; <a class="linkTextAbout" href="https://www.linkedin.com/in/zack-stout-01/"><span>
                  zack-stout-01
                </span></a>
              </div>


            </div>

            <div layout="row" class="emailCont" layout layout-align="center center">
              <img class="icon" src="styles/gmail_icon2.ico"> &emsp; <a class="linkTextAbout" href="mailto:zackstout@gmail.com"><span>zackstout@gmail.com</span></a>
            </div>

            <div layout="row" class="emailCont" layout layout-align="center center">
              <img class="icon" src="styles/resume_icon.png"> &emsp; <a class="linkTextAbout" href="styles/resume_stout_dev.pdf"><span>My Resume</span></a>
            </div>

            <!-- </div> -->
          </div>
        </div>




      </div>
    </div>
