
<div layout="row" class="wholeEnchilada" >
  <div layout="column" flex="15" ng-controller="NavController as nc">


    <div class="sideNavHolder">
      <div class="sideNav">
        <div class="clickMe" ng-click="nc.goHome()">About Me</div>
      </div>

      <div layout="row" >

<!-- oh how odd, it does need to have "alive" ... -->
        <div ng-controller="BlogController as bc" class="sideNav" layout="column">
          <div class="clickMe alive" ng-click="bc.showSub()">Blog</div>
        </div>

      <!-- <div ng-controller="BlogController as bc"> -->
        <div ng-controller="BlogController as bc" ng-show="bc.hit" layout="column">
          <div class="subBlog" ng-click="bc.goCode()" layout="row" flex="33">
            <span class="subSubBlog">Coding</span>
          </div>
          <div class="subBlog" ng-click="bc.goMath()" layout="row" flex="33">
            <span class="subSubBlog1">Math</span>
          </div>
          <div class="subBlog" ng-click="bc.goOther()" layout="row" flex="33">
            <span class="subSubBlog2">Other</span>
          </div>
        </div>
      <!-- </div> -->

      </div>

      <div  class="sideNav">
        <div class="clickMe" ng-click="nc.goPort()">Portfolio</div>
      </div>
    </div>

  </div>

  <!-- Idea for post: kinetic and potential energy of, say, a pendulum.

  Idea for post: Stretch, implement slider for current value, and change view to look straight down the current-line and see how magnetic fields are affected, i.e. see a ball moving with different speed.

  Idea for post: Learning python (note: need to actually download and use it in an app)

  Idea for post: Relativity elevators with balls shooting from top to bottom. That visual really stuck with me. And you can't know whether you're accelerating or at rest; they're only relative notions (to a frame of reference; i.e. no such thing as accelerating full stop). Would be super cool to draw clocks with hands moving at the appropriate speeds.

  idea: Build minesweeper in python. -->

  <div class="blogContent" layout="column" flex="80" ng-click="bc.hideTabs()">
    <!-- <h1>blog</h1> -->

<!-- <div layout layout-align="center center">
  <canvas id="triangle" width="300" height="300"></canvas>
</div> -->
<!-- <div layout layout="center center"> -->



<!-- haha yeah, we really should have done it with rows first, columns second.... (to style rows together, i.e. put both in same anchor tag); -->
  <div layout="row" layout-align="center center" class="blogText">
    BLOG POSTS:
  </div>
  <div layout="row" layout-align="center center" class="blogText">
    <div layout="column" id="datesList" >
      <!-- <div layout="row" class="brags">1/17/18</div>
      <div layout="row" class="brags">1/16/18</div>
      <div layout="row" class="brags">1/15/18</div>
       -->
       <div layout="row" class="brags">1/14/18</div>
      <div layout="row" class="brags">1/13/18</div>
      <div layout="row" class="brags">1/12/18</div>
      <div layout="row" class="brags">1/8/18</div>
      <div layout="row" class="brags">1/6/18</div>
      <div layout="row" class="brags">1/4/18</div>
      <div layout="row" class="brags">1/1/18</div>
      <div layout="row" class="brags">12/23/17</div>
      <div layout="row" class="brags">12/21/17</div>
      <div layout="row" class="brags">12/17/17</div>
      <div layout="row" class="brags">12/15/17</div>
      <div layout="row" class="brags">12/12/17</div>
      <div layout="row" class="brags">12/10/17</div>
      <div layout="row" class="brags">12/8/17</div>

    </div>
    <div layout="column" layout-align="center center" >
      <!-- <div layout="row" class="brags2" ng-click="bc.goPost(14)">
        Rilke's <i>Archaic Torso of Apollo</i>
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(14)">
        What Does Cartesian Skepticism Really Mean?
      </div>


    -->

    <div layout="row" class="brags2" ng-click="bc.goPost(12)">
      Greek Tragedy: On Becoming Oneself
    </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(13)">
        Building Snake
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(14)">
        Drawing The Sierpinski Triangle
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(11)">
        Self-Conception as Carapace
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(10)">
        Building Minesweeper
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(9)">
        Creating a Customizable Chart
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(8)">
        Binary Counting and the Towers of Hanoi
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(7)">
        Sizes of Infinite Sets
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(6)">
        From JavaScript to Python: Basic Syntax
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(5)">
        Exploring the Golden Ratio
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(4)">
        Writing SQL Queries
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(3)">
        Getting Started with Matter.js
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(2)">
        More Canvas: Fun with Conic Sections
      </div>
      <div layout="row" class="brags2" ng-click="bc.goPost(1)">
        Getting Started with HTML Canvas Animations
      </div>
    <!-- </div> -->
    <!-- <li>Building Minesweeper</li>
    <li>Creating a Customizable Chart</li>
    <li>Binary Counting and the Towers of Hanoi</li>
    <li>Sizes of Infinite Sets</li>
    <li>From JavaScript to Python: Basic Syntax</li>
    <li>Exploring the Golden Ratio</li>
    <li>Writing SQL Queries</li>
    <li>Getting Started with Matter.js</li>
    <li>More HTML Canvas: Fun with Conic Sections</li>
    <li>Getting Started with HTML Canvas Animations</li> -->
  <!-- </ul> -->
</div>







  </div>

  <div class="prevPosts" layout="column" flex="12">
    <div class="allposts" layout layout-align="center center">All Posts:</div>
    <!-- <ul class="postlist">
      <li ng-click="bc.goToPost(10)">Building Minesweeper</li>
      <li ng-click="bc.goToPost(9)">Creating a Customizable Chart</li>
      <li ng-click="bc.goToPost(8)">Binary Counting and the Towers of Hanoi</li>
      <li ng-click="bc.goToPost(7)">Sizes of Infinite Sets</li>
      <li ng-click="bc.goToPost(6)">From JavaScript to Python: Basic Syntax</li>
      <li ng-click="bc.goToPost(5)">Exploring the Golden Ratio</li>
      <li ng-click="bc.goToPost(4)">Writing SQL Queries</li>
      <li ng-click="bc.goToPost(3)">Getting Started with Matter.js</li>
      <li ng-click="bc.goToPost(2)">More HTML Canvas: Fun with Conic Sections</li>
      <li ng-click="bc.goToPost(1)">Getting Started with HTML Canvas Animations</li>
    </ul> -->
  </div>
</div>
