<div layout="row" class="wholeEnchilada">
  <div layout="column" flex="15" ng-controller="NavController as nc">


    <div class="sideNavHolder">
      <div class="sideNav">
        <div class="clickMe" ng-click="nc.goHome()">About Me</div>
      </div>

      <div layout="row" >

<!-- oh how odd, it does need to have "alive" ... -->
        <div class="sideNav" layout="column">
          <div class="clickMe alive" ng-click="nc.hit = !nc.hit">Blog</div>
        </div>

        <div  ng-show="nc.hit" layout="column">
          <div class="subBlog" ng-click="nc.goCode()" layout="row" flex="33">
            <span class="subSubBlog">Coding</span>
          </div>
          <div class="subBlog" ng-click="nc.goMath()" layout="row" flex="33">
            <span class="subSubBlog1">Math</span>
          </div>
          <div class="subBlog" ng-click="nc.goOther()" layout="row" flex="33">
            <span class="subSubBlog2">Other</span>
          </div>
        </div>

      </div>

      <div  class="sideNav">
        <div class="clickMe" ng-click="nc.goPort()">Portfolio</div>
      </div>
    </div>

  </div>

  <!-- Idea for post: kinetic and potential energy of, say, a pendulum.

  Idea for post: Stretch, implement slider for current value, and change view to look straight down the current-line and see how magnetic fields are affected, i.e. see a ball moving with different speed.

  Idea for post: Learning python (note: need to actually download and use it in an app)

  Idea for post: Relativity elevators with balls shooting from top to bottom. That visual really stuck with me. And you can't know whether you're accelerating or at rest; they're only relative notions (to a frame of reference; i.e. no such thing as accelerating full stop). Would be super cool to draw clocks with hands moving at the appropriate speeds.

  idea: Build minesweeper in python. -->

  <div class="blogContent" layout="column" flex="60">


<!--
    <hr>

    <div layout="column" layout-align="center center" id="post11">
      <div >
        <h2 class="blogTitle">3D Rendering with three-js and Browserify</h2>
      </div>
      <div class="blogSubtitle">
        Feb. 21, 2018
      </div>
    </div>

    <div class="blogText">
      Using <a href="https://socket.io/">Socket.io</a> is fun and pretty simple once you get the hang of it.
    </div>

     -->

  <hr>

  <div layout="column" layout-align="center center" id="post12">
    <div >
      <h2 class="blogTitle">Getting Started with Socket.io</h2>
    </div>
    <div class="blogSubtitle">
      Feb. 21, 2018
    </div>
  </div>

  <div class="blogText">
    Phew, it's been a while since my last post! It's been an exciting challenge to balance the tasks of learning, building, searching for a job, and writing.
  </div>

  <div class="blogText">
    Anyways, using <a href="https://socket.io/">Socket.io</a> is fun and pretty intuitive once you get the hang of it.
  </div>

  <div class="blogText">
    As I understand it, a web socket is an immediate and continuous connection between a server and the various clients that are pinging it. This means that we can update each user's client based on information in the server &mdash; without the user needing to refresh their browser.
  </div>

  <div class="blogText">
    I learned Socket.io by building a simple 1-v-1 game, Tic-Tac-Toe. Users can see a list of other users online, can send and accept invitations to play games, and claim victory against their opponents.
  </div>

  <div class="blogText">
    To start, <span class="codeBit">npm install express socket.io --save</span>. Then spin up your app with some boilerplate code:
  </div>

  <pre><code layout layout-align="center center">var express = require('express');
var app = express();
var http = require('http').Server(app);
var io = require('socket.io')(http);

app.get('/', function(req, res){
  res.sendFile(__dirname + '/index.html');
});

http.listen(3000, function(){
  console.log('listening on *:3000');
});
  </code></pre>

  <div class="blogText">
    Then we can declare a global function, <span class="codeBit">io.on('connection', function(socket){ });</span>, inside of which we can place our socket controllers, like so:
  </div>

  <pre><code layout layout-align="center center">socket.on('logon', function() {
    userIds.push(socket.id);
    io.emit('ids', userIds);
  });</code></pre>

  <div class="blogText">
    These functions may take in parameters (data from the client-side event that triggers the server-side socket event-handler), but they needn't. In this case, we're grabbing the ID assigned to this particular client-server socket connection and storing it in a global array. Finally, we <span class="codeBit">emit</span> back to each client a response: in this case, the array of all online users.
  </div>

  <div class="blogText">
    Note that we call the event 'ids' here so that we can pick it up on the client-side by using the same name. Similarly, we call the triggering event 'logon', so that we can specify its trigger on the client-side.
  </div>

  <div class="blogText">
    Our client-side code looks something like this (I'm using jQuery to enable user interaction with the page):
  </div>

  <pre><code layout layout-align="center center">      &lt;script src="/socket.io/socket.io.js"><&lt;/script>
      &lt;script src="https://code.jquery.com/jquery-1.11.1.js">&lt;/script>
      &lt;script>
        $(function () {
          var socket = io();
          socket.emit('logon');
        });
      &lt;/script></code></pre>

  <div class="blogText">
    Whenever a user visits the site, pinging the server, a socket-connection is initiated, and the client <span class="codeBit">emits</span> to the server, triggering the 'logon' event-handler. As we saw above, this initiates a process on the server that <span class="codeBit">emits</span> back out to each client an updated list of online users.
  </div>

  <div class="blogText">
    We'll want to update this list when a user disconnects as well ('disconnect' is a keyword in Socket.io: we don't have to define this event on the client-side):
  </div>

  <pre><code layout layout-align="center center">socket.on('disconnect', function(){
    userIds.splice(userIds.indexOf(socket.id), 1);
    io.emit('ids', userIds);
  });</code></pre>

  <div class="blogText">
    The next step would be to handle the 'ids' event we wrote earlier (in the server) on the client-side. We do this in exactly the same way that we handled, on the server-side, events triggered by the client. We write <span class="codeBit">socket.on('ids', function(allIds) { });</span>, and inside our callback function we manipulate the page based on the data received from the server ('allIds'). In this case, we want to append a list of all online users (excluding the current user, who we identify with <span class="codeBit">socket.id</span>) to the DOM, and an 'Invite' button for each user.
  </div>

  <div class="blogText">
    That's pretty much all there is to it. Events on the client-side &mdash; user clicks to make a move ('X' or 'O'), or to submit their move, or accept an invitation to play &mdash; are handled on the server, which in turn emit events back out to clients (all clients or a specific client). Data can be passed back and forth with each event, as arguments to our event-handling callback functions.
  </div>

  <div class="blogText">
    In our case, we want to pass the game-state back and forth between one client, the server, and the other client (their opponent). We update the game-state in the server (in a game object that is saved in a global array of all current games) after each user makes a move, and then update the other client.
  </div>

  <div class="blogText">
    Check out my <a href="https://github.com/zackstout/Tic-Tac-Toe-final">GitHub repo</a> for the full code!
  </div>





  <!-- <hr>

  <div layout="column" layout-align="center center" id="post11">
    <div >
      <h2 class="blogTitle">Getting Started with Django</h2>
    </div>
    <div class="blogSubtitle">
      Jan. 28, 2018
    </div>
  </div>

  <div class="blogText">
    Django is a front-end framework built on top of Python. I became interested in it because I wanted to visualize and interact with my Python-analyzed data. This was before I learned about Matplotlib and Pandas.
  </div>

  <div class="blogText">
    Anyway, it takes a bit of work to set up, but Django is well worth the effort. It offers a lot of nice features &mdash; admin functionality, charts, and a way to easily interact with your database.
  </div>

  <div class="blogText">
    Let's walk through the steps for setting up a Django project. If you don't have Python3, you should <a href="https://www.ics.uci.edu/~pattis/common/handouts/pythoneclipsejava/python.html">install</a> it. It should come with <span class="codeBit">pip3</span>, which will allow you to install packages for your projects (much like <span class="codeBit">npm</span>).
  </div> -->

  <!-- Note: credit sentdex as well as that other guy's (Traversy Media) excellent vid.

  Zacks-MacBook-Air:more-django zackstout$ python3 -m venv env
Zacks-MacBook-Air:more-django zackstout$ source env/bin/activate
TO DEACTIVATE: (env) Zacks-MacBook-Air:gogo zackstout$ deactivate
(env) Zacks-MacBook-Air:more-django zackstout$ pip3 install django
(env) Zacks-MacBook-Air:more-django zackstout$ django-admin startproject gogo
^ creates the directory for you

(env) Zacks-MacBook-Air:more-django zackstout$ cd gogo
(env) Zacks-MacBook-Air:gogo zackstout$ python3 manage.py runserver
CTRL + C.
(env) Zacks-MacBook-Air:gogo zackstout$ python3 manage.py startapp goapp

Settings:
INSTALLED_APPS = [
    'goapp',

Urls:
    from django.conf.urls import include

    urlpatterns = [
        path('admin/', admin.site.urls),
        path('goapp/', include('goapp.urls'),
    ]

In goapp.views:
from django.http import HttpResponse

def index(request):
    return HttpResponse("<h1> HI </h1>")

Create urls.py in goapp:
from django.conf.urls import url
from . import views
urlpatterns = [url(r'^$', views.index, name='index')]

Now visit localhost:8000/goapp.

Add url(r'^$', include('goapp.urls')), to base URLS file to make home go here.

WOW there's a lot here. This is the set up. Can do a second post on the features you get for going through this convoluted process. Just list benefits: Front-end for Python, a nice templating system, (although you have notebooks and just the shell, and IDLE, and matplotlib, and all that), Database management, Admin stuff out of the box, that hot-module thing Connor was into. And just a ton of addons/plugins whatever that make working with Python that much more fun and efficient.-->


    <hr>

    <div layout="column" layout-align="center center" id="post11">
      <div >
        <h2 class="blogTitle">Building Snake</h2>
      </div>
      <div class="blogSubtitle">
        Jan. 13, 2018
      </div>
    </div>

    <div class="blogText">
      Let's build Snake using JavaScript! (I know, I should have written it in Python...)
    </div>

    <div class="blogText">
      First we'll need a grid. The code here is quite similar to what I used to build a <span class="linkage" ng-click="cc.goToPost(10)">Minesweeper</span> grid. Instead of adding a <span class="codeBit">&lt;button></span> to each <span class="codeBit">&lt;td></span>, we add a <span class="codeBit">&lt;div></span>. But just as before, we give it an <span class="codeBit">id</span> to keep track of its position and a class to color it blue.
    </div>

    <div class="blogText">
      Next we'll need a snake. We can start by drawing a 4-length snake emerging from the top of the playing field:
    </div>


      <pre><code layout layout-align="center center">        var snake = [{r: 0, c: 4}, {r: 1, c: 4}, {r: 2, c: 4}, {r: 3, c: 4}];
        var direction = 'd';</code></pre>

    <div class="blogText">
      In order to color our snake, we can alter each <span class="codeBit">div</span>'s class:
    </div>

    <pre><code layout layout-align="center center">     snake.forEach(function(cell) {
        var name = 'col' + cell.c + 'row' + cell.r;
        var el = document.getElementById(name);
        el.className = 'snakeLive';
      });</code></pre>

    <div class="blogText">
      How do we move our snake? The key insight is that to move forward one step, you cut off the snake's current tail and move it to the position of the new head (which depends on which direction the snake is moving). So in a function called <span class="codeBit">changeSnake()</span>, we change the tail back to blue, remove it from the <span class="codeBit">snake</span> array, and then <span class="codeBit">push</span> the new head onto that array:
    </div>

    <pre><code layout layout-align="center center">        var name1 = 'col' + tail.c + 'row' + tail.r;
        document.getElementById(name1).className = 'snakeCell';

        tail = snake.shift();
        head = snake[snake.length - 1];
        snake.push(newHead);</code></pre>

    <div class="blogText">
      For example, if the snake were moving downward we would set the <span class="codeBit">newHead</span> with</div>

      <pre><code layout layout-align="center center">newHead = {
    r: head.r + 1,
    c: head.c
        };</code></pre>

            <div class="blogText">
      To keep track of the user's input for the snake's direction, we use a <span class="codeBit">switch</span> statement to check whether the user has most recently pressed the <i>a</i>, <i>s</i>, <i>d</i> or <i>w</i> key:
    </div>

    <pre><code layout layout-align="center center">    window.onkeydown = function(e) {
          switch(e.keyCode) {
            case 83:
            direction = 'd';
            break;
            . . .
        })</code></pre>

    <div class="blogText">
      Finally, we add apples and lengthen our snake when it's fed. The code for this is fairly simple if you've followed along so far.
    </div>

    <div class="blogText">
      To run our game, we write something like
    </div>

    <pre><code layout layout-align="center center">        vm.startSnake = function() {
          snakeInt = setInterval(changeSnake, 230);
        };</code></pre>



    <div class="blogText">
      Woohoo! We've got Snake! There are a few bugs &mdash; the snake can cross itself, and apples can spawn inside of it &mdash; but our game works mostly as intended. In fact, it would be a fun challenge to calculate the expected number of apples we could eat before spawning one inside the snake. (Remember, use the <i>a</i>, <i>s</i>, <i>w</i> and <i>d</i> keys to navigate.)
    </div>

    <br>
    <div layout layout-align="center center">
      <table id="snakeTable"></table>
      <button ng-click="cc.startSnake()">Start!</button>
    </div>




    <hr>

    <div layout="column" layout-align="center center" id="post10">
      <div >
        <h2 class="blogTitle">Building Minesweeper</h2>
      </div>
      <div class="blogSubtitle">
        Jan. 6, 2018
      </div>
    </div>

    <div class="blogText">
      How might we go about building the game Minesweeper? Let's go through the steps (using AngularJS):
    </div>

    <ol class="blogText">
      <li class="blogText">To build our grid (of size n x n), we can use an HTML <span class="codeBit">table</span>. Using a loop within a loop, we can add data cells (containing buttons) to each row, and then <span class="codeBit">append</span> the row to our table.</li>

      <pre><code layout layout-align="center center">     function drawGridMines(n) {
        var table = angular.element(
          document.getElementById('mineSweep'));
        var mineRow = [];
        var mineRowVals = [];
        for (var k=0; k < n; k++) {
          for (var i=0; i < n; i++) {
            mineRow.push('&lt;td&gt;&lt;button class=
            "mineButton row' + k + 'col' + i +
            '"ng-click="cc.checkBoxMine($event)">
              &lt;/button>&lt;/td>');
            mineRowVals.push('0');
          }
        var fullRow = '&lt;tr>' + mineRow + '&lt;/tr>';
        table.append($compile(fullRow)($scope));
        mineRow = [];

        valuesOnGrid.push(mineRowVals);
        mineRowVals = [];
    }</code></pre>

      <div class="blogText">We give each button an <span class="codeBit">id</span>, e.g. <span class="codeBit">row1col3</span>, so that it knows its row/column position. Note that we must wrap our element with <span class="codeBit">angular.element()</span> in order to <span class="codeBit">append</span> to it. Further, we need to <span class="codeBit">$compile</span> our HTML before appending it.</div>

      <li class="blogText">We store the values that live underneath each button (either 'bomb' or a number representing the number of adjacent bombs) in an array of arrays, <span class="codeBit">valuesOnGrid</span>. To start, let's put a '0' in each cell.</li>

      <li class="blogText">Next we need to generate our bombs &mdash; the trick here is to ensure that we put each bomb in a unique cell. Then we update our <span class="codeBit">valuesOnGrid</span> array to reflect the positions of the bombs:</li>

      <pre><code layout layout-align="center center">       for (var j=0; j < mines.length; j++) {
            var mine = mines[j];
            valuesOnGrid[mine.row][mine.col] = 'b';
        }</code></pre>

      <li class="blogText">We need to get the count of adjacent bombs for each cell. We can write a function, <span class="codeBit">getNeighbors(r, c)</span>, to find all of a cell's neighbors (taking into account that it may lie on the table's edge). I will spare you my rather clumsy code.</li>

      <li class="blogText">Then we can feed the array of neighbors into a <span class="codeBit">checkForBombs</span> function that updates our <span class="codeBit">valuesOnGrid</span> array with numeric values:</li>

      <pre><code layout layout-align="center center">     function checkForBombs(r, c) {
        var neighbors = getNeighbors(r, c);
        var v = valuesOnGrid[r][c];

        if (v != 'b') {
          var intV = parseInt(v);
          for (var i=0; i< neighbors.length; i++) {
            var n = neighbors[i];
            var val = valuesOnGrid[n.row][n.col];
            if (val == 'b') {
              intV ++;
            }
          }
          valuesOnGrid[r][c] = String(intV);
        }
      }

    valuesOnGrid.forEach(function(arr, index) {
        var ind = index;
        arr.forEach(function(v, index) {
          checkForBombs(ind, index);
        });
      });
    </code></pre>

      <li class="blogText">What happens if the player clicks a button? We check whether there is a bomb there; if so, they lose. If not, remove the button to reveal the number. (This is why we must pass <span class="codeBit">$event</span> into each button's <span class="codeBit">ng-click</span>. We can use <span class="codeBit">ev.target.getAttribute("class")</span> in the controller to access the clicked button's class, which contains information about its position. To find out what value lives at that position, we use <span class="codeBit">valuesOnGrid[row][col]</span>. We remove the button with <span class="codeBit">ev.currentTarget.remove()</span>.)</li>

      <li class="blogText">The really tricky part is opening up islands &mdash; i.e. sometimes, when you click a button, multiple cells will open up. I believe the logic is:</li>
      <ul>
        <li class="blogText">Check the clicked cell's neighbors for 0s.</li>
        <li class="blogText">For each 0 among the neighbors, open up that cell and all of <i>its</i> neighbors. (Since the value is 0, we are guaranteed to never reveal a bomb.)</li>
        <li class="blogText">If any of the opened neighbors contains a 0, repeat the above.</li>
      </ul>

      <pre><code layout layout-align="center center">       function checkForZeros(r, c) {
          var neighbors = getNeighbors(r, c, 5);
          neighbors.forEach(function(n) {
            var pos = String(n.row) + String(n.col);
            if (valuesOnGrid[n.row][n.col] === '0'
              && !newNeighbors.includes(pos)) {
                newNeighbors.push(pos);
                checkForZeros(n.row, n.col);
              }
            });
        }</code></pre>

        <div class="blogText">
          Notice that we have to store each opened 0-cell in a <span class="codeBit">newNeighbors</span> array, and check whether the array already includes a cell before <span class="codeBit">push</span>ing it. This ensures that our program doesn't enter an infinite loop, finding all of a cell's 0-neighbors that have already been opened.
        </div>

      <li class="blogText">Finally, we'll want to add in right-click functionality for flagging spaces suspected to contain bombs. When the user opens up every square that doesn't contain a bomb, they win!</li>
    </ol>

    <div class="blogText">
      Here's a prototype of the game. It's not fully operational just yet:
    </div>

    <div layout layout-align="center center">
      <table id="mineSweep">

      </table>
    </div>



    <hr>


    <div layout="column" layout-align="center center" id="post9">
      <div >
        <h2 class="blogTitle">Creating a Customizable Chart</h2>
      </div>
      <div class="blogSubtitle">
        Jan. 4, 2018
      </div>
    </div>

    <div class="blogText">
      Suppose we have a set of data that is grouped according to a few different categories and we want to build an app to visualize our data. For instance, say we are building an app that allows organizations to track and view their carbon footprint over time. Let's run through the steps needed to build a basic customizable chart using Chart.js, AngularJS and PostgreSQL.
    </div>

    <div class="blogText">
      In our database we'll have a table for Monthly Reports, and three other tables that reference this table: Living, Shipping and Travel. The Shipping table has columns to keep track of air-, sea-, truck- and train-based shipping costs (in terms of kg-tonne of shipped materials) for the month.
    </div>

    <div class="blogText">
      Monthly reports are each attached to a project (e.g. Save the Infants), i.e. each row in the Monthly Reports table is foreign keyed to a row in the Projects table. Projects can have multiple Types (e.g. Education, Health), and are associated with a specific Country. By now we have eight tables &mdash; our original four, plus tables for Projects, Countries, Types, and Project-Types (we need this last table because each project can be associated with multiple types).
    </div>

    <div class="blogText">
      We can start by adding (in our HTML) a pair of <span class='codeBit'>select</span> tags to allow a user to choose a particular project, month, type or country. First, the user can choose which category they are interested in:
    </div>

    <code layout layout-align="center center">&lt;!--Choose a View:-->
      <br><br>{{cc.html111}}
      <br>&emsp;&emsp;&emsp;&emsp;&emsp;{{cc.html112}}
      <br>&emsp;&emsp;&emsp;{{cc.html12}}
      <br>&emsp;&emsp;&emsp;{{cc.html13}}
      <br>&emsp;&emsp;&emsp;{{cc.html14}}
      <br>&emsp;&emsp;&emsp;{{cc.html15}}
      <br>{{cc.html16}}

    </code>

    <div class="blogText">
      The <span class="codeBit">ng-change</span> ensures that whenever the user alters their selection, we trigger (in the controller) a <span class="codeBit">GET</span> call for all of the particulars in the requested category. (We keep track of the requested category in the controller with the property <span class="codeBit">vm.chartView</span>, where we have previously declared <span class='codeBit'>var vm = this</span>, but we could just as easily pass it along as an argument in our <span class="codeBit">changeChartView</span> function.) We use the results of this call to populate a second drop-down with <span class="codeBit">ng-repeat</span> (by somewhat clumsily writing each selector tag to the DOM and only <span class="codeBit">ng-show</span>ing the relevant one):
    </div>

    <div id="html2" layout layout-align="center center">
      <code>&lt;!--Choose a particular:-->
        <br><br>{{cc.html2a}}
        <br>&emsp;{{cc.html2b}}
        <br>&emsp;&emsp;{{cc.html2c}}
        <br>&emsp;&emsp;&emsp;{{cc.html2d}}
        <br>{{cc.html2e}}
        <br>. . .
      </code>
    </div>


    <div class="blogText">
      Finally, we can populate a third dropdown with each of the categories <i>not</i> selected as a View. For example, if the user chooses to view a particular Month, they will have the choice to subdivide that month's carbon footprint by project, type or country. (The code for this is very similar to the above.) Now we have all the data we need to construct our SQL query, which we run on clicking "Submit":
    </div>

    <div id="html3" layout layout-align="center center">
      <code>
        {{cc.html31}}<br>{{cc.html32}}
      </code>
    </div>

    <div class="blogText">
      We send along this information to the server in our <span class="codeBit">req.body</span>:
    </div>

    <pre><code layout layout-align="center center">req.body = {
      view: 'Period',
      particular: '04/16',
      slice: 'Project'
    }</code></pre>

    <div class="blogText">
      Then, we can pass along the information to our database query:
    </div>

    <pre><code layout layout-align="center center">queryText = 'SELECT "period", "projects"."name",
    "countries"."id" as country_id,
     . . .,
    SUM("hotel") OVER (PARTITION BY ' + slice + ') as hotel,
    SUM("fuel") OVER (PARTITION BY ' + slice + ') as fuel,
     . . .
    FROM "countries"
    JOIN "projects" ON "countries"."id" =
    "projects"."country_id"
    JOIN "project_type" ON "projects"."id" =
    "project_type"."project_id"
     . . .
    WHERE "users"."id" = $1 AND ' + view + '."name" = $2;';
    </code></pre>

    <div class="blogText">
      This is a variable query. We pass <span class="codeBit">slice = req.body.slice</span> and <span class="codeBit">view = req.body.view</span> directly into the query string (don't forget to concatenate the strings around the variables!). Additionally, we pass an array of variables specifying the user (<span class="codeBit">$1</span>) and the particular (<span class="codeBit">$2</span>) to our <span class="codeBit">db.query()</span>: <span class="codeBit">[req.user.id, req.body.particular]</span>.
    </div>

    <div class="blogText">
      Let's break down our query:
    <!-- </div> -->
      <ul>
        <li class="blogText">We first include among the columns we <span class="codeBit">SELECT</span> a <span class="codeBit">SUM</span> of the values in all rows, for each of our columns;</li>
        <li class="blogText">We <span class="codeBit">PARTITION</span> this sum by the chosen <span class="codeBit">slice</span>;</li>
        <li class="blogText">We have each query grab from the entire database, since the inputs are variable;</li>
        <li class="blogText">And finally we tell the database which user and which particular <span class="codeBit">view</span> we are interested in.</li>
      </ul>
    </div>

    <div class="blogText">
      The final thing to note about our query is that each of view-tables (Projects, Periods, Types, Countries, Categories) must have a column titled "name". The chart you output might be a line chart when the user slices by Period:
    </div>

    <div layout layout-align="center center">
      <canvas id="chartdemo" width="500" height="500"></canvas>

    </div>

    <div class="blogText">
      Or a donut chart when the user slices by another variable (in this case, by Category):
    </div>

    <div layout layout-align="center center">
      <canvas id="chartdemo2" width="500" height="500"></canvas>

    </div>

    <div class="blogText">
      Don't forget to <span class="codeBit">npm install chart.js</span>. Once installed, the possibilities abound!
    </div>




    <hr>


    <div layout="column" layout-align="center center" id="post6">
      <div >
        <h2 class="blogTitle">From JavaScript to Python: Basic Syntax</h2>
        <!-- <a name="chapter1"></a> -->
      </div>
      <div class="blogSubtitle">
        Dec. 21, 2017
      </div>
    </div>

    <div class="blogText">
      Python is sometimes touted as one of the easiest programming languages to learn. I think this is especially true when approaching Python from a background in JavaScript.
    </div>

    <div class="blogText">
      The first thing to know is that whereas JavaScript uses parentheses and braces to signify different code blocks, Python relies on white space and colons:
    </div>

    <div layout="row" layout-align="center center">
      <div layout="col">
        <pre><code layout layout-align="top center">      //JavaScript:
        function sayHello() {
          console.log("Hello world!");
        }
        sayHello()</code></pre>
      </div>
      <div layout="col">
        <pre><code layout layout-align="top center">      #Python:
        def sayHello():
          print "Hello world!"
        sayHello()</code></pre>
      </div>
    </div>

    <div class="blogText">
      Working with strings is similar in Python: instead of <span class="codeBit">str.length</span>, you use <span class="codeBit">len(str)</span>; instead of <span class="codeBit">str.charAt(0)</span>, you use <span class="codeBit">str[0]</span>. Python offers a nice feature, <i>string substitution</i>, which lets you put variables inside of strings (note that Python also allows us to dispense with semicolons and declaration keywords such as <span class="codeBit">var</span> or <span class="codeBit">let</span>):
    </div>


    <div layout="row" layout-align="center center">
      <div layout="col">
        <pre><code layout layout-align="top center">        //JavaScript:
          var x = 'phoenix';
          console.log('This bird is a ', x);</code></pre>
      </div>
      <div layout="col">
        <pre><code layout layout-align="top center">        #Python:
          x = 'phoenix'
          print 'This bird is a %s' % (x)</code></pre>
      </div>
    </div>

    <div class="blogText">
      Another nice aspect of Python is the strong parallelism between strings, lists (which are Python's version of arrays) and dictionaries (which are Python's version of objects). This parallelism shines through in the way Python treats <span class="codeBit">for</span> loops (this syntax might remind AngularJS users of <span class="codeBit">ng-repeat</span>):
    </div>


    <div layout="row" layout-align="center center">
      <div layout="col">
        <pre><code layout layout-align="top center">        //JavaScript:
          var myArray = [1, 'apple'];
          for (var i=0; i < myArray.length;
            i++) {
              console.log(myArray[i]);
            }</code></pre>
      </div>
      <div layout="col">
        <pre><code layout layout-align="top center">      #Python:
        myString = 'capybara'
        myList = [1, 'apple', 7.2]
        myDictionary = {
          'shirt_color': 'black',
          'socks': ['blueSock', 'redSock'],
          'shoes_count': 2
        }
        for c in myString:
          print c
        for x in myList:
          print x
        for key in myDictionary:
          print key + ' ' + myDictionary[key]</code></pre>
      </div>
    </div>

    <div class="blogText">
      In order to replicate the JavaScript way of writing <span class='codeBit'>for</span> loops in Python, we could awkwardly write
    </div>

    <pre><code  layout layout-align="center center">for i in range(len(myList)):
      print myList[i]</code></pre>

    <div class="blogText">
      Alternatively, we could write <span class="codeBit">enumerate(myList)</span> if we wanted to attach an index to each item in our list (we could even pass it a second argument to tell it which index to start counting at!).
    </div>

    <div class="blogText">
      Python also makes it easy to spin up tailor-made lists with a feature called <i>list comprehension</i>. To get a list of all multiples of 3 between 20 and 80, we could write
    </div>

    <pre><code layout layout-align="center center">myArray = [i for i in range(20, 80) if i % 3 == 0]
    print myArray</code></pre>

    <div class="blogText">
      One of my favorite things about Python is its readability. Instead of having to know, for example, that JavaScript arrays have a method called <span class="codeBit">.includes()</span> that checks whether an array contains a certain element, we can just write
    </div>


    <pre><code layout layout-align="center center">     if user_guess not in correct_guesses:
        print "Guess again!"</code></pre>

    <div class="blogText">
      Suppose we wanted to filter an array, purging it of all elements that fail to meet a certain condition. We can pass an anonymous function (written on the fly) to the array's <span>filter</span> method. Python lets us abbreviate this process with a <i>lambda</i> operator; similarly, ES6 offers arrow functions. Let's filter out all trees that don't begin with 'c':
    </div>

    <div layout="row" layout-align="center center">
      <div layout="col">
        <pre><code layout layout-align="top center">      //JavaScript:
          var trees = ['conifer', 'birch',
            'cedar'];
          var c_trees = trees.filter(
            function(tree, trees) {
              return tree.charAt(0) == 'c';
            });
      //Or, with an arrow function:
          var c_trees = trees.filter(() =>
            {return tree.charAt(0) == 'c'});</code></pre>
      </div>
      <div layout="col">
        <pre><code layout layout-align="top center">      #Python:
        trees = ['conifer', 'birch', 'cedar']
        c_trees = filter(
          lambda tree: tree[0] == 'c', trees)</code></pre>
      </div>
    </div>

    <div class="blogText">
      Class inheritance, too, works similarly across our two languages. We can declare a new class with a constructor (or <i>initialization</i>) function, add methods to our class, and then create an instance:
    </div>

    <div layout="row" layout-align="center center">
      <div layout="col">
        <pre><code layout layout-align="top center">        //JavaScript:
          class Dog {
            constructor(breed, color) {
              this.breed = breed;
              this.color = color;
            }
            bark() {
              console.log("Woof!");
            }
          }
          var tiny = new Dog("pug", "tan");
          tiny.bark();</code></pre>
      </div>
      <div layout="col">
        <pre><code layout layout-align="top center">      #Python:
        class Dog(object):
          def __init__(self, breed, color):
            self.breed = breed
            self.color = color
          def bark(self):
            print "Woof!"
        tiny = Dog("pug", "tan")
        tiny.bark()</code></pre>
      </div>
    </div>

    <div class="blogText">
      If we want one class (a succlass) to inherit all of the methods and properties associated with another object &mdash; say we want to create Pug and Greyhound and Mastiff succlasses &mdash; we can write
    </div>

    <div layout="row" layout-align="center center">
      <div layout="col">
        <pre><code layout layout-align="top center">        //JavaScript:
          class Pug extends Dog {
            ...
          }</code></pre>
      </div>
      <div layout="col">
        <pre><code layout layout-align="top center">        #Python:
          class Pug(Dog):
            ...</code></pre>
      </div>
    </div>

    <div class="blogText">
      There is plenty more to explore in Python &mdash; especially the plethora of libraries that are available for you to <span class="codeBit">import</span> into your project &mdash; but hopefully this has been enough to convince you that the transition from JavaScript into Python can be a smooth one.
    </div>




    <hr>

    <div layout="column" layout-align="center center" id="post4">
      <div >
        <h2 class="blogTitle">Writing SQL Queries</h2>
        <!-- <a name="chapter1"></a> -->
      </div>
      <div class="blogSubtitle">
        Dec. 15, 2017
      </div>
    </div>

    <div class="blogText">
      Writing queries to your SQL database is a lot of fun, and pretty intuitive once you get used to the syntax. (We'll use PostgreSQL syntax here.)
    </div>

    <div class="blogText">
      To my mind, the bread and butter of a relational database query is the <span class="codeBit">JOIN</span> keyword. Suppose we have one table to keep track of humanitarian projects and another table, keyed to the first table, to keep track of each project's monthly carbon footprint. (Incidentally, this is the group project I'm working on at Prime.) To get all of the footprints associated with a single project, we could write
    </div>

    <pre><code layout layout-align="center center">SELECT * FROM "projects" JOIN "footprints"
      ON "projects"."id" = "footprints"."project_id"
      WHERE "projects"."id" = 1;
    </code></pre>

    <div class="blogText">
      The <span class="codeBit">ON</span> clause ensures that we grab all of the footprints that have a project_id value equal to the id of the project we are interested in. A potential problem with this is that we might have identically-named columns in different tables (e.g. "id"). To remedy this, we can replace <span class="codeBit">*</span> in our <span class="codeBit">SELECT</span> clause with <span class="codeBit">"footprints"."id" as footprint_id, "projects"."id" as project_id, "living_total", "shipping_total", "travel_total"</span>.
    </div>

    <div class="blogText">
      Our footprints table might have many rows; suppose we want to sum up the values in each column across all rows. We could write
    </div>

    <pre><code layout layout-align="center center">SELECT SUM("living_total") as living_total,
      SUM("travel_total") as travel_total,
      SUM("shipping_total") as shipping_total
      FROM "footprints";
    </code></pre>

    <div class="blogText">
      If we want to sum the values across columns, we can write <span class="codeBit">SUM("travel_total" + "shipping_total" + "living_total") as "total_footprint"</span>.
    </div>

    <div class="blogText">
      Suppose that instead of summing all the rows, we wanted to group them into clusters, for instance by footprint Type. We can pair the <span class="codeBit">SUM</span> keyword with <span class="codeBit">PARTITION BY</span> to accomplish that: <span class="codeBit">SELECT SUM("living_total") OVER (PARTITION BY "type")</span>.
    </div>

    <div class="blogText">
      Suppose we have three other tables, Shipping, Living and Travel, each keyed to our Footprints table. In order to post a new footprint to the database, we need to update each table. In our query from the server, we would first post to the Footprints table, adding <span class="codeBit">RETURNING "id"</span> to our <span class="codeBit">INSERT INTO</span> query. Then we can pass the returned id along to the next query, which posts to our three subtables with the proper foreign key.
    </div>

    <div class="blogText">
      Finally, suppose we want to get, for each project, an array of all the footprint totals associated with it. The query would look something like this:
    </div>

    <pre><code layout layout-align="center center">SELECT "projects"."name" as name,
      array_agg("footprint_total") as total
      FROM "projects" JOIN "footprints"
      ON "projects"."id" = "footprints"."project_id"
      GROUP BY "projects"."name";
    </code></pre>



    <hr>

    <div layout="column" layout-align="center center" id="post3">
      <div >
        <h2 class="blogTitle">Getting Started with Matter.js</h2>
        <a name="chapter1"></a>
      </div>
      <div class="blogSubtitle">
        Dec. 12, 2017
      </div>
    </div>

    <div class="blogText">
      Matter.js is a super fun physics library with excellent documentation (<a href="http://brm.io/matter-js/docs/">Matter.js</a>) that can be easily added into a project. Simply <span class="codeBit">npm install matter-js</span> and source matter.min.js into your index.
    </div>

    <div class="blogText">
      I've found it easier to get Matter.js up and running when I use it in conjunction with <a href="http://p5js.org">p5.js</a> to draw bodies on the canvas. Matter.js can be broken into two functional components: an engine for calculating all the physics, and a renderer for drawing bodies on the canvas. Instead of using Matter's built-in renderer, we can use p5. (Just run another <span class="codeBit">npm install</span> and source it in).
    </div>

    <div class="blogText">
      The following code will add a falling square and a static circle to the canvas. To start off, we can add a few abbreviations to save some time later on:
    </div>

    <pre><code layout layout-align="center center">    var Engine = Matter.Engine;
    var World = Matter.World;
    var Bodies = Matter.Bodies;</code></pre>

    <div class="blogText">
     Then we can add a few bodies ...
    </div>

    <pre><code layout layout-align="center center">    var box1 = Bodies.rectangle(200, 100, 20, 20);
    var omega = Bodies.circle(500, 500, 100, {isStatic: true});</code></pre>

    <div class="blogText">
      The last (optional) argument passed to the shape constructor is an <span class="codeBit">options</span> object. Setting <span class="codeBit">isStatic</span> to 'true' makes the body immobile; if we set <span class="codeBit">isSensor</span> to 'true', the body won't participate in any collisions.
    </div>

    <div class="blogText">
      But we mustn't forget to <span class="codeBit">add</span> the bodies to our <span class="codeBit">world</span>! p5.js asks for two things: a <span class="codeBit">setup</span> function to tell it how to render the initial page, and a <span class="codeBit">draw</span> function to tell it how to update the canvas as time goes on:
    </div>

    <pre><code layout layout-align="center center">    function setup() {
      var canvas = createCanvas(1000,1000);
      var engine = Engine.create();
      var world = engine.world;
      World.add(world, [box1, omega]);
      Engine.run(engine);
    }</code></pre>

    <div class="blogText">
      After we create our engine and our world, and start our engine, we're ready to draw:
    </div>

    <pre><code layout layout-align="center center">    function draw() {
      background(251);
      rect(box1.position.x, box1.position.y, 20, 20);
      ellipse(omega.position.x, omega.position.y, 200);
    }</code></pre>

    <div class="blogText">
      We reset the background with every iteration of the <span class="codeBit">draw</span> function in order to clear the previous renderings &mdash; otherwise we end up with space-time worms roaming through our canvas.
    </div>

    <div class="blogText">
      An important thing to note when using p5.js in conjunction with Matter.js is that they keep track of bodies differently. For instance, p5's <span class="codeBit">ellipse</span> function asks for the body's diameter, whereas Matter's <span class="codeBit">circle</span> function asks for the body's radius. Another example of this misalignment is that Matter tracks the position of rectangles by their centers, while p5 (as well as vanilla canvas) tracks them by their upper-left corners.
    </div>

    <div class="blogText">
      At this point, the possibilities proliferate. With <span class="codeBit">Matter.Mouse</span> and <span class="codeBit">Matter.MouseConstraint</span>, you can allow the user to interact with your world's bodies. With <span class="codeBit">Matter.Events</span> you can listen for collisions. With <span class="codeBit">Matter.Constraint</span> you can attach bodies to each other. Matter even lets you alter the world's gravity (with <span class="codeBit">world.gravity.y</span>)!
    </div>

    <div class="blogText">
      And p5 is no slouch. It offers <span class="codeBit">mouseClicked</span> and <span class="codeBit">mouseDragged</span> functions that make it easy to interact with the canvas. If you add an array to your global scope...</div>

      <pre><code layout layout-align="center center">var balls = [];</code></pre>

      <div class="blogText">...and then add a loop into your <span class="codeBit">draw</span> function...:
    </div>

    <pre><code layout layout-align="center center" id="hardCode">{{cc.hardText}}</code></pre>

      <div class="blogText">...then finally, you can add a <span class="codeBit">mouseDragged</span> function like so:
      </div>
      <pre><code layout layout-align="center center">   function mouseDragged() {
        var randomNum = Math.random()*50;
        var ball = Bodies.circle(mouseX, mouseY, randomNum);
        ball.circleRadius = randomNum/2;
        World.add(world, ball);
        balls.push(ball);
    }</code></pre>
      <div class="blogText">
        The possibilities sprawl before us!
    </div>


    <hr>


    <div layout="column" layout-align="center center" id="post1">
      <h2 class="blogTitle">Getting Started with HTML Canvas Animations</h2>
      <div class="blogSubtitle">Dec. 8, 2017</div>
    </div>



        <div class="blogText">
          Being something of a math/physics nerd, I was delighted to discover that with just the HTML canvas element, vanilla JavaScript, and a bit of math, one can easily render pleasing visual illustrations of key mathematical relationships.
        </div>

        <!-- ball throw -->

        <div class="blogText">
          For instance, one can illustrate a ball following a parabolic path. To describe the shape of a parabola, you just need a quadratic equation:
          <div layout layout-align="center center" class="math">
            <i>f(x) = ax<sup>2</sup> + bx + c</i>
          </div>
          As a bonus, since one natural way of writing the code ensures that the x-value changes linearly (at a constant rate), the ball will behave as if it is under the influence of gravity! The variable <span class="codeBit">ctx</span> is what allows us to interact with the canvas:
        </div>

        <pre><code layout layout-align="center center">    var canvas = document.getElementById('ballCanvas');
        var ctx = canvas.getContext("2d");
        vm.x = 0;
        function ball() {
            ctx.clearRect(0,0,400,400);
            var xStandard = (vm.x - 200)/100;
            var yPix = Math.pow(xStandard, 2)*100;
            ctx.translate(200, 0);
            ctx.beginPath();
            ctx.arc(xStandard*100, yPix, 5, 0, 2*Math.PI);
            ctx.stroke();
            ctx.fillStyle = 'purple';
            ctx.fill();
            ctx.translate(-200, 0);
            vm.x += 5;
          }</code></pre>

          <div class="blogText">
            This function keeps track of the ball's position. We can call it many times per second, each time clearing the canvas and re-drawing the ball at a slightly different position.
          </div>

          <div class="blogText">
            Canvas's coordinate system starts at the upper lefthand corner; the value of <i>y</i> increases as you move further down the screen, and <i>x</i>'s value increases as you move right.
          </div>

          <div class="blogText"> We translate to a new origin to simplify our calculation, moving to the middle of the top of our 400x400 canvas, to (200, 0). <i>(Don't forget to translate back out before re-drawing the ball!)</i>. Then we divide by 100 to standardize our units before squaring the value of the ball's x-coordinate, which gives us the ball's y-coordinate.</div>

          <div class="blogText">
            Now that we know the ball's position, it's straightforward to draw it: we begin a new path, call canvas's <span class="codeBit">arc()</span> method, draw the ball's outline with <span class="codeBit">stroke()</span>, and color it in with <span class="codeBit">fill()</span>. Finally, we ensure our function is called every 50 milliseconds:
          </div>

          <pre><code layout layout-align="center center">vm.throwBall = function() {
            setInterval(ball, 50);
          };</code></pre>

        <div layout layout-align="center center">
          <canvas id="parabolaBall" width="400" height="400"></canvas>
          &emsp;<button ng-click="cc.throwBall()">Throw</button>

        </div>


        <!-- parabola  -->
        <div class="blogText">
          To draw a parabolic curve onto the canvas requires a bit more thought. Canvas has built-in functions to draw circular and elliptical arcs, but if you want to draw a specific curve, you need to break things down into small intervals (borrowing an idea from calculus) and connect the dots with straight lines. When the intervals are small enough, the concatentation of straight lines will appear curve-like.

        </div>

        <pre><code layout layout-align="center center">function parabola(x, L, a, dir) {
            for (var i = 0; i < x; i++) {
              ctx.moveTo(i*L + dir*200, a*Math.pow(i*L/100, 2)*100 + i*L + 100);
              ctx.lineTo((i+1)*L + dir*200, a*Math.pow((i+1)*L/100, 2)*100 + (i+1)*L + 100);
              ctx.stroke();
            }
          }</code></pre>

          <div class="blogText">
            In this function, <i>x</i> controls the number of iterations, and <i>L</i> controls the length of the line segment that is drawn during each iteration. We're hard-coding in the values of <i>b</i> and <i>c</i>. The idea is to begin the line (with <span class="codeBit">moveTo()</span>) at one point on the parabola, and end it at a nearby point on the parabola with <span class="codeBit">lineTo()</span>. Remember to draw the line with <span class="codeBit">stroke()</span>!

          </div>

            <div class="blogText">We use canvas's built-in linear transformation function to reflect the first half of the parabola over the y-axis:

          </div>

          <pre><code layout layout-align="center center">ctx.transform(-1, 0, 0, 1, 0, 0);</code></pre>

          <div class="blogText">
            Don't forget to transform again when you're done drawing the second half &mdash; otherwise all your future commands will assume your canvas is still flipped over. (You can use the same function, since the transformation is symmetric.)
          </div>

        <div layout layout-align="center center">
          <canvas id="parabola" width="400" height="400"></canvas>
          &emsp;&emsp;<md-slider ng-model="cc.params.p" min="5" max="500" ng-change="cc.parabola2(200,1,1/(cc.params.p*4/100),0,0,1)" aria-label="parab"></md-slider>
        </div>

        <!-- polygon -->
        <div layout layout-align="center center" class="blogText">
          We can apply the same principle to write a function that draws a circle or an ellipse (as well as any regular polygon!). As we increase the number of sides (represented in this function by the argument x), the shape appears more curve-like.
        </div>

        <pre><code layout layout-align="center center">function circle(a, b, x, r) {
            ctx.beginPath();
            for (var i = 0; i < x; i++) {
              ctx.moveTo(r*a*Math.cos(i*2*Math.PI/x), r*b*Math.sin(i*2*Math.PI/x));
              ctx.lineTo(r*a*Math.cos((i+1)*2*Math.PI/x), r*b*Math.sin((i+1)*2*Math.PI/x));
              ctx.stroke();
            }
          }</code></pre>


        <div layout layout-align="center center">
          <canvas id="polygon" width="400" height="400"></canvas>
              &emsp;&emsp;<md-slider ng-model="cc.n" min="2" max="18" ng-change="cc.drawPolygon(cc.n)" aria-label="polygon"></md-slider>
        </div>

        <div class="blogText">
          One key thing to note here is the <span class="codeBit">beginPath</span> function. Often you will want to clear your canvas (with a <span class="codeBit">clearRect()</span> method call), and in order to draw on your freshly cleared canvas you will need to begin a new path.
        </div>




  </div>

  <div class="prevPosts" layout="column" flex="12">
    <div class="allposts" layout layout-align="center center">Code Posts:</div>
    <ul class="postlist">
      <li ng-click="cc.goToPost(12)">Getting Started with Socket.io</li>

      <li ng-click="cc.goToPost(11)">Building Snake</li>
      <li ng-click="cc.goToPost(10)">Building Minesweeper</li>
      <li ng-click="cc.goToPost(9)">Creating a Customizable Chart</li>
      <!-- <li ng-click="cc.goToPost(8)">Binary Counting and the Towers of Hanoi</li> -->
      <!-- <li ng-click="cc.goToPost(7)">Sizes of Infinite Sets</li> -->
      <li ng-click="cc.goToPost(6)">From JavaScript to Python: Basic Syntax</li>
      <!-- <li ng-click="cc.goToPost(5)">Exploring the Golden Ratio</li> -->
      <li ng-click="cc.goToPost(4)">Writing SQL Queries</li>
      <li ng-click="cc.goToPost(3)">Getting Started with Matter.js</li>
      <!-- <li ng-click="cc.goToPost(2)">More HTML Canvas: Fun with Conic Sections</li> -->
      <li ng-click="cc.goToPost(1)">Getting Started with HTML Canvas Animations</li>
    </ul>
  </div>
</div>
