
.navbar {
  background-color: #333333;

}

.sideNav {
  /*padding-top: 60px;
  padding-bottom: 60px;*/
  /*background-color: blue;*/
}

.clickMe {
  height: 130px;
  background-color: blue;
}

.clickMe:hover {
  background-color: teal;
}

.projectInfoContainer {

}

.head {
  font-family: monospace;
  font-size: 22px;
}

.myPic {
  height: auto;
  width: 250px;
  border-radius: 120px;
  float: right;
}

.projContainer {
  padding: 20px;
  margin: 15px;
}

.imageContainer {
  height: 75px;
  width: 75px;
}

#parabola, #parabolaBall, #polygon {
  width: 350px;
  height: 350px;
}

#ball, #ellipse {
  width: 600px;
  height: 600px;
}
/*
.sideNavHolderHolder {
  position: relative;
}*/

.sideNavHolder {
  position: fixed;
  width: 120px;
}

.blogContent {
  margin: 40px;
}

/*.prevPosts {
  position: fixed;
}*/

.icon {
  height: 30px;
  width: 30px;
  /*padding-left: 50px;*/
}

.iconHolder {
  /*padding-left: 90px;*/
  /*padding-top: -10px;*/
  /*padding-right: 30px;*/
}
