
.navbar {
  background-color: #333333;

}

.sideNav {
  margin-top: 60px;
  margin-bottom: 60px;
}

.projectInfoContainer {

}

.projContainer {
  padding: 20px;
  margin: 15px;
}

.imageContainer {
  height: 75px;
  width: 75px;
}
