<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animations</title>
    <script src="../../vendors/jquery.js" charset="utf-8"></script>
    <script src="../../vendors/p5.min.js" charset="utf-8"></script>
    <script src="../../scripts/animation_scripts/cardioid.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Cardioid</h1>
    <!-- <p><a href="http://zstout.com/#/portfolio">Go Back</a></p> -->
    <br>
    <div class="numHolder">
      Current multiplication table displayed (modulo 200): <span class="num">1</span>-times table.
    </div>

  </body>
</html>
