<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animations</title>
    <script src="../../vendors/p5.min.js" charset="utf-8"></script>
    <script src="../../scripts/animation_scripts/phi.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Golden Ratio</h1>
    <p><a href="index.html">Go Back</a></p>
    <br>
    <p>Each leaf grows at an angle known as the Golden Angle (2&Pi;/&Phi; radians) from the previous leaf.</p>
    <canvas id="can" width="800" height="800"></canvas>
  </body>
</html>
