<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Animations</title>
    <script src="../../vendors/jquery.js" charset="utf-8"></script>
    <script src="../../vendors/p5.min.js" charset="utf-8"></script>
    <script src="../../scripts/animation_scripts/sierpinski.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Sierpinski Triangle</h1>
    <p><a href="../index.html">Go Back</a></p>
    <br>

    <div class="teaser">
      Click start to kick off the algorithm and watch its magic unfold.
    </div>
    <br>

    <div class="buttons">
      <button id="start">Start</button>
      <button id="clear">Pause</button>
    </div>

  </body>
</html>
