
<!-- <div ng-include="'views/partials/nav.html'"></div> -->
<div layout="row" class="wholeEnchilada">
  <div layout="column" flex="15" ng-controller="NavController as nc">

    <div class="sideNavHolder">
      <div class="sideNav">
        <div class="clickMe alive" ng-click="nc.goHome()">About Me</div>
      </div>
      <div class="sideNav">
        <div class="clickMe" ng-click="nc.goBlog()">Blog</div>
      </div>
      <div class="sideNav">
        <div class="clickMe" ng-click="nc.goPort()">Portfolio</div>
      </div>
    </div>

  </div>


  <div layout="column" flex="80">

    <!-- <h2>about</h2> -->




    <div layout="row">

      <div layout="column" flex="65">
        <div layout="row">
          <div class="penHolder">
            <canvas id="pendulum" width="250" height="200"></canvas>

          </div>


          <div layout="column">
            <div class="aboutMe">
              <!-- <h1>About Me</h1> -->
            </div>

            <p class="quote">
              "A program is crystallized thought."
            </p>
            <p class="name">&mdash;Marijn Haverbeke, <i>Eloquent Javascript</i>, Ch. 8
            </p>

            <p class="quote">
              "Mathematics is the language in which God has written the universe."
            </p>
            <p class="name">&mdash;Galileo Galilei, <i>Il Saggiatore</i>
            </p>
          </div>

        </div>


      </div>

      <div layout="column" flex="30">
        <div class="myPicContainer" layout layout-align="center center">
          <!-- <div layout="row"> -->
          <img class="myPic" src="styles/zzz6.png">
        </div>

        <div layout="column" layout layout-align="center center" class="textCont">
          <div class="iconHolder" layout="row">
            <a href="http://github.com/zackstout">
              <img class="icon" src="styles/github_icon.svg"></a>
              &emsp; <a class="linkText" href="http://github.com/zackstout"><span class="linkText">
                <i>github.com/zackstout</i>
              </span></a>
            </div>



            <div class="iconHolder" layout="row">
              <a href="https://www.linkedin.com/in/zack-stout-001/">
                <img class="icon" src="styles/linkedin_icon.png"></a>
                &emsp; <a class="linkText" href="https://www.linkedin.com/in/zack-stout-001/"><span class="linkText">
                  <i>linkedin.com/in/zack-stout-001</i>
                </span></a>
              </div>


            </div>

            <div layout="row" class="emailCont" layout layout-align="center center">
              <img class="icon" src="styles/gmail_icon2.ico"> &emsp; <i>zackstout@gmail.com</i>
            </div>

            <!-- </div> -->
          </div>
        </div>

        <div layout="column">
          <div class="description">
            <p>
              I'm a software development student at Prime Digital Academy, and I'm discovering to my delight that my background in mathematics and philosophy has positioned me to fall in love with computer programming.
            </p>
          </div>


          <p>

          </p>


        </div>


      </div>
    </div>
